:root{
    --light-background-color: rgb(255,255,255,.5);
    --light-main-color: #d3ffad;
    --light-card-color: lightgreen;
    --light-ora-color: #72a843;
    --light-font-color: black;
    --dark-background-color: rgb(11,11,11,.5);
    --dark-main-color: #3e502f;
    --dark-card-color: rgb(48, 105, 48);
    --dark-ora-color: #547a33;
    --dark-font-color: white;
    --current-background-color: var(--light-background-color);
    --current-main-color: var(--light-main-color);
    --current-card-color: var(--light-card-color);
    --current-ora-color: var(--light-ora-color);
    --current-font-color: var(--light-font-color);
}
body {
    background-image: url("img/Naha_Okinawa_Japan_Garbage-truck-01.jpg");
    background-position: center;
    background-size: auto;
    min-height: 100vh;
    width: auto;
    display: flex;
    justify-content: space-around;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: var(--current-font-color);
}

div {
    border-radius: 20px;
}

body > div {
    background-color:var(--current-background-color);
    height: 90%;
    width: 90%;
    text-align: center;
    width: 100%;
    margin: auto;
}

#content {  
    margin: 1em;
    background-color: var(--current-main-color);
    display: flex;
    flex-direction: column;
}

main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

main > div{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

button {
    background-color: var(--current-card-color);
    border-top: 2px solid var(--current-background-color);
    border-left: 2px solid var(--current-background-color);
    border-bottom: 2px solid var(--current-ora-color);
    border-right: 2px solid var(--current-ora-color);
    width: 3rem;
    align-self: flex-end;
    margin: 1em;
    font-weight: bold;
}

.card {
    min-width: 15rem;
    max-width: 15vw;
    min-height: 5rem;
    max-height: max-content;
    margin:1em;
    background-color:var(--current-card-color);
}

.orak{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.ora{
    width: 80%;
    padding: 0.5em;
    margin:0.5rem;
    background-color:var(--current-ora-color);
}

.dark {
    --current-background-color: var(--dark-background-color);
        --current-main-color: var(--dark-main-color);
        --current-card-color: var(--dark-card-color);
        --current-ora-color: var(--dark-ora-color);
        --current-font-color: var(--dark-font-color);
}

.light {
    --current-background-color: var(--light-background-color);
        --current-main-color: var(--light-main-color);
        --current-card-color: var(--light-card-color);
        --current-ora-color: var(--light-ora-color);
        --current-font-color: var(--light-font-color);
}

@media (prefers-color-scheme:dark){
    :root {
        --current-background-color: var(--dark-background-color);
        --current-main-color: var(--dark-main-color);
        --current-card-color: var(--dark-card-color);
        --current-ora-color: var(--dark-ora-color);
        --current-font-color: var(--dark-font-color);
    }
}

@media (prefers-color-scheme:light){
    :root {
        --current-background-color: var(--light-background-color);
        --current-main-color: var(--light-main-color);
        --current-card-color: var(--light-card-color);
        --current-ora-color: var(--light-ora-color);
        --current-font-color: var(--light-font-color);
    }
}